.git
.github
.idea
.venv
.vite
.vscode
__pycache__
logs

**/.DS_Store
**/.pytest_cache
**/.ruff_cache
**/.venv
**/__pycache__
**/*.py[cod]
**/node_modules

mtl-api/**/target
mtl-client/dist
mtl-client/target
mtl-server/target/*
!mtl-server/target/mtl-server-0.0.1-SNAPSHOT.jar
